# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

.DS_Store

# Figures & misc. directories
data/fig/
data/xlsx/

# FEUP dataset
data/pkl/*porto*
data/fig/*porto*
data/xlsx/*porto*
src/*porto*

# Intermediate results
data/pkl/*.metadata.v3.pickle
data/pkl/*__model.v4.pickle
data/pkl/*__model.metrics.v4.pickle
data/pkl/*_building_token*
data/pkl/*_model_token*
data/pkl/*demand_12H_sequences*
data/pkl/*demand_12H_tabular*

# ML model directories
fededf_ver2025-08-30_13-34-38_dundee_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1       
fededf_ver2025-10-12_06-29-26_boulder_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1
fededf_ver2025-08-30_13-35-16_dundee_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1       
fededf_ver2025-10-12_06-30-59_boulder_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1
fededf_ver2025-08-30_19-24-16_dundee_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1       
fededf_ver2025-10-12_07-45-54_paloalto_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1
fededf_ver2025-08-31_04-10-08_dundee_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1       
fededf_ver2025-10-12_07-46-42_paloalto_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1
fededf_ver2025-08-31_04-11-57_porto_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1        
fededf_ver2025-10-12_12-00-18_paloalto_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1
fededf_ver2025-08-31_07-04-20_porto_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1        
fededf_ver2025-10-13_15-28-16_paloalto_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1
fededf_ver2025-08-31_08-08-53_porto_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1        
fededf_ver2025-11-30_09-46-38_dundee_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1
fededf_ver2025-08-31_10-41-12_porto_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1        
fededf_ver2025-11-30_11-08-24_dundee_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1
fededf_ver2025-10-11_17-03-19_boulder_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1      
fededf_ver2025-11-30_11-08-33_dundee_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1
fededf_ver2025-10-11_22-31-59_boulder_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1      
fededf_ver2025-11-30_12-07-02_dundee_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1
fededf_ver2025-10-07_10-46-47_dundee_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.0
fededf_ver2025-10-07_10-46-47_dundee_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.0
fededf_ver2025-10-13_20-19-28_dundee_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1
fededf_ver2025-10-07_11-21-54_porto_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.0
fededf_ver2025-10-13_20-20-02_porto_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1
fededf_ver2025-10-13_07-04-36_boulder_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.0
fededf_ver2025-10-13_19-49-13_boulder_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1
fededf_ver2025-10-13_07-06-48_paloalto_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.0
fededf_ver2025-10-13_19-48-35_paloalto_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1
fededf_ver2025-11-30_11-08-58_dundee_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.0
fededf_ver2025-12-04_09-15-32_dundee_fraction_fit=1.0_fraction_eval=1.0_proximal_mu=0.1
lstm_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__boulder_dataset_12H_sequences_window_48_stride_1
bi-gru_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__boulder_dataset_12H_sequences_window_48_stride_1
gru_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__paloalto_dataset_12H_sequences_window_48_stride_1
bi-lstm_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__boulder_dataset_12H_sequences_window_48_stride_1
bi-lstm_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__paloalto_dataset_12H_sequences_window_48_stride_1
gru_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__boulder_dataset_12H_sequences_window_48_stride_1
lstm_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__paloalto_dataset_12H_sequences_window_48_stride_1
bi-gru_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__paloalto_dataset_12H_sequences_window_48_stride_1
lstm_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__porto_dataset_12H_sequences_window_48_stride_1
gru_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__porto_dataset_12H_sequences_window_48_stride_1
lstm_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__dundee_dataset_12H_sequences_window_48_stride_1
bi-gru_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__porto_dataset_12H_sequences_window_48_stride_1
gru_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__dundee_dataset_12H_sequences_window_48_stride_1
bi-gru_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__dundee_dataset_12H_sequences_window_48_stride_1
bi-lstm_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__dundee_dataset_12H_sequences_window_48_stride_1
bi-lstm_1_24_fc_24_14_rnn_inputs_1_fc_inputs_1_outputs_batchsize_32_patience_10__porto_dataset_12H_sequences_window_48_stride_1
